.banner {
    margin: 30px 0;
}

.banner__wrap {
    background: url(../img/bg.png) no-repeat center/cover white;
    height: 500px;
    border-radius: 14px;
    padding-left: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner__desc {
    max-width: 332px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.banner__h {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    position: relative;
    color: #464748;
    z-index: 1;
}

.banner__h::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 52px;
    background: #3FA5D5;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    left: 0;
}

.banner__p {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.banner__btn {
    background: #3FA5D5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 7px 62px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    transition: 0.2s;
}
.banner__btn:hover{
    background: #2A86B1;
}

@media screen and (max-width:460px) {
    .banner__wrap{
        padding: 0 15px;
    }
    
}

@media screen and (max-width:360px) {
    .banner__h{
        font-size: 38px;
        line-height: 45px;
    }
    
}